---

---

<section id="experience" class="py-[4rem]">
	<h1
		class="text-3xl font-semibold bg-gradient-to-r from-white to-[#999999] bg-clip-text text-transparent flex flex-col justify-center items-center my-12 text-center"
	>
		Experience
	</h1>

	<!-- component -->
	<div class="container mx-auto">
		<div class="flex flex-col md:grid grid-cols-9 mx-auto p-2 text-blue-50">
			<!-- left -->
			<div class="flex flex-row-reverse md:contents">
				<div
					class="col-start-2 col-end-5 rounded-xl ml-auto sm:text-end pb-16"
				>
					<span class="text-[12px] font-light">2012 - 2019</span>
					<h2 class="text-gray-100 text-xl">Sys Admin</h2>
					<p class="text-sm">
						Designing and developing applications to save time and
						resources for clients worldwide.
					</p>
				</div>
				<div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
					<div
						class="h-full w-6 flex items-center justify-center relative"
					>
						<div
							class="absolute bottom-0 h-[90%] w-[2px] bg-gray-400 pointer-events-none"
						>
						</div>
					</div>
					<div
						class="w-5 h-5 absolute top-[4px] left-1/2 -translate-x-1/2 rounded-full bg-clstrongGreen shadow"
					>
					</div>
				</div>
			</div>
			<!-- right -->
			<div class="flex md:contents">
				<div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
					<div class="h-full w-6 flex items-center justify-center">
						<div
							class="absolute bottom-0 h-full w-[2px] bg-gray-400 pointer-events-none"
						>
						</div>
					</div>
					<div
						class="w-5 h-5 absolute top-9 left-1/2 -translate-x-1/2 rounded-full bg-clstrongGreen shadow"
					>
					</div>
				</div>
				<div class="col-start-6 col-end-9 py-4 rounded-xl my-4 mr-auto">
					<span class="text-[12px] font-light">2019 - 2023</span>
					<h2 class="text-gray-100 text-xl">Manager</h2>
					<p class="text-sm">
						Designing and developing applications to save time and
						resources for clients worldwide.
					</p>
				</div>
			</div>
			<!-- left -->
			<div class="flex flex-row-reverse md:contents">
				<div
					class="col-start-2 col-end-5 py-4 rounded-xl my-4 ml-auto sm:text-end"
				>
					<span class="text-[12px] font-light">2023 -</span>
					<h2 class="text-gray-100 text-xl">Freelancer</h2>
					<p class="text-sm">
						Designing and developing applications to save time and
						resources for clients worldwide.
					</p>
				</div>
				<div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
					<div class="h-full w-6 flex items-center justify-center">
						<div
							class="absolute top-0 h-[70%] w-[2px] bg-gray-400 pointer-events-none"
						>
						</div>
					</div>
					<div
						class="w-5 h-5 absolute top-9 left-1/2 -translate-x-1/2 rounded-full bg-clstrongGreen shadow"
					>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
