---
import Github from "../assets/Github.astro";
import LinkedIn from "../assets/LinkedIn.astro";
import NavLinks from "./NavLinks.astro";
---

<footer class="my-[7rem]">
	<div class="space-y-3">
		<div
			class="h-[1px] w-full bg-gradient-to-r from-[#3C3C3C] from-10% via-cllightGray via-[percentage:20%_80%] to-[#3C3C3C] to-90%"
		>
		</div>
		<div class="flex flex-col sm:flex-row items-center justify-center gap-4">
			<p class="text-slate-100 text-center sm:text-start">
				Te interesa trabajar conmigo ? Enviame un mensaje
			</p>
			<a
				href="https://www.linkedin.com/in/matias-luduena/"
				target="_blank"
				class="group relative inline-block overflow-hidden rounded border border-clbackground bg-black px-12 py-3 text-sm font-medium text-white focus:outline-none focus:ring active:bg-black active:text-clstrongGreen cursor-pointer"
			>
				<span
					class="ease absolute left-0 top-0 h-0 w-0 border-t-[1px] border-clstrongGreen transition-all duration-200 group-hover:w-full"
				></span>
				<span
					class="ease absolute right-0 top-0 h-0 w-0 border-r-[1px] border-clstrongGreen transition-all duration-200 group-hover:h-full"
				></span>
				<span
					class="ease absolute bottom-0 right-0 h-0 w-0 border-b-[1px] border-clstrongGreen transition-all duration-200 group-hover:w-full"
				></span>
				<span
					class="ease absolute bottom-0 left-0 h-0 w-0 border-l-[1px] border-clstrongGreen transition-all duration-200 group-hover:h-full"
				></span>
				LinkedIn</a
			>
		</div>
		<div
			class="h-[1px] w-full bg-gradient-to-r from-[#3C3C3C] from-10% via-cllightGray via-[percentage:20%_80%] to-[#3C3C3C] to-90%"
		>
		</div>
	</div>
	<div class="container mx-auto mt-12 hidden md:block">
		<NavLinks classes="text-clGray justify-center" />
	</div>
	<h1 class="font-basker text-white text-center text-3xl my-8">ML</h1>
	<div class="flex justify-center items-center gap-4">
		<a
			href="https://github.com/matiasluduena23"
			aria-label="github"
			target="_blank"><Github /></a
		>
		<a
			href="https://www.linkedin.com/in/matias-luduena/"
			aria-label="linkedIn"
			target="_blank"><LinkedIn /></a
		>
	</div>
</footer>
