---
import Globe from "../assets/Globe.astro";
import NavigationMobile from "./NavigationMobile.astro";
---

<header class="w-[90%] mx-auto">
	<div class="md:hidden pt-2">
		<div class="flex items-center justify-center gap-2">
			<p class="text-white uppercase font-basker text-[45px] font-bold">ML</p>
			<div class="flex flex-col font-semibold leading-tight">
				<p class="text-gray-300 tracking-wider">Matias Ludueña</p>
				<p class="text-clGray">Programador</p>
			</div>
		</div>
		<NavigationMobile />
	</div>
</header>
