---

---

<header class="w-[90%] mx-auto">
	<div class="container mx-auto">
		<div class="flex items-center justify-between">
			<div class="flex items-center gap-2">
				<p
					class="text-white uppercase font-kaisei text-[45px] font-bold"
				>
					ML
				</p>
				<div class="flex-col font-semibold hidden sm:block">
					<p class="text-gray-300 mt-1 tracking-wider">
						Matias Ludueña
					</p>
					<p class="text-gray-400">Front-end Developer</p>
				</div>
			</div>
			<nav>
				<ul
					class="flex flex-wrap items-center justify-end gap-2 text-clGray"
				>
					<li>
						<a
							href="#experience"
							class="relative after:bg-strongGreen after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 cursor-pointer"
							>Experience</a
						>
					</li>
					<li>
						<a
							href="#projects"
							class="relative after:bg-strongGreen after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 cursor-pointer"
							>Projects</a
						>
					</li>
					<li>
						<a
							href="#services"
							class="relative after:bg-strongGreen after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 cursor-pointer"
							>Services</a
						>
					</li>
					<li>
						<a
							href="#about"
							class="relative after:bg-clstrongGreen after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 cursor-pointer"
							>About</a
						>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
