---
const { position } = Astro.props;
import NavLinks from "./NavLinks.astro";
import globe from "../assets/globe.png";
import { Image } from "astro:assets";
---

<div
	class="fixed bottom-0 left-0 right-0 bg-black py-4 z-50 border border-t-clstrongGreen"
>
	<div class="container max-w-[90%] mx-auto relative">
		<div
			class="absolute -top-[49px] left-1/2 transform -translate-x-1/2 bg-clstrongGreen w-[49px] h-[33px] rounded-t-3xl"
		>
		</div>
		<div
			class="absolute -top-12 left-1/2 transform -translate-x-1/2 bg-black rounded-t-3xl p-2"
		>
			<button
				class="rounded-full flex items-center justify-center font-semibold z-50"
				id="btn-mobile-language"
			>
				<Image src={globe} alt="globe" width="31" height="31" class="globe" />

				<div
					class="relative no-show popup-language popup-language"
					aria-expanded="false"
				>
					<div
						class:list={[
							"absolute flex items-center flex-col bg-white rounded-lg",
							position,
						]}
					>
						<span
							class="hover:bg-gray-200 inline-block px-2 py-1 overflow-hidden rounded-t-lg w-full"
							><a href="/">ES</a></span
						>
						<span
							class="hover:bg-gray-200 inline-block px-2 py-1 w-full overflow-hidden rounded-b-lg"
							><a href="/en/">EN</a></span
						>
					</div>
				</div>
			</button>
		</div>
		<NavLinks classes="text-white justify-center" />
	</div>
</div>
